
	<div class="aboutContainer col s10">
			<div class="row aboutRow">
				<div class="col s8 center offset-s2">
					<h2 class="header">Nice to meet you, I am Tyler.</h2>
				</div>
				<div class="col s8 center offset-s2">
					<p>Things I enjoy: sports (I play in a wood bat baseball league and a weekly basketball league), movies/tv (only good tv though!), technology, food, traveling, video games, power lifting, food, beer, learning things on Youtube, and food....and beer.</p>
				</div>
			<div class="navInclude" ng-show="navShow">
					<div ng-include="'partials/nav.html'"></div>
			</div>
		</div>
	</div>

